<div class="col-3">
  <%= form_with(model: @blog, local: true) do |f| %>
  <p class="alert alert-secondary"><%= @blog.errors.full_messages.join(', ') %></p>
  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, placeholder: "title", class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label "Select Topic" %>
    <%= f.select :topic_id, Topic.all.map { |t| [t.title, t.id]} %>  
  </div>
  <div class="form-group">
    <%= f.submit "Submit!", class: 'form-submit btn btn-primary' %>  
  </div>
</div>

        
<div class="col-9">
  <div class="form-group">
    <%= f.label :body %>
    <%= f.cktext_area :body, cols: 50, rows: 25, placeholder: "body", class: 'form-control' %>
    <% end %>
  </div>
</div>